.sidenav-container {
  position: relative;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: width 0.3s ease;
}

.sidenav.collapsed {
  width: 80px; /* Adjust width for collapsed state */
}

.sidenav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}

.brand-title {
  font-size: 18px;
  color: white;
}

.sidenav-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.menu-item {
  padding: 15px;
  display: flex;
  align-items: center;
}

.menu-item .menu-icon {
  margin-right: 10px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu-item a:hover {
  background-color: #444;
}

.menu-item span {
  display: inline-block;
  transition: opacity 0.3s ease;
}

.sidenav.collapsed .menu-item span {
  opacity: 0;
}
